.logo {
  display: flex;
  align-items: center;
  font-size: 22.5px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background:  #f8f8f8;
}
.logo-text {
  font-family: 'Playfair Display',
  serif; font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.nav {
  display: flex;
  align-items: center;
   flex: 1; /* take available space */
  justify-content: center; /* center links */
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: color 0.3s;
  

}

.nav a:hover {

  color: #666;
}

.basket-btn {
 
}
